@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html {
    /* font-family: "Satoshi", sans-serif !important; */
    font-family: "Poppins", sans-serif;
    /* color: #242329; */
    /* color: #2e2d35; */
    /* color: #28272e; */
    /* color: #33313a; */
    /* color: #37353f; */
    /* color: #ebd87e; */
    color: #f8f8f8;
  }
  .react-icon, .tailwind-icon, .css-icon{
    text-shadow: 0px 0px 10px rgb(0,255,255);
    filter: drop-shadow(0px 0px 20px rgba(0, 255, 255, 0.8));
  }
  .js-icon{
    text-shadow: 0px 0px 10px rgb(251,191,24);
    filter: drop-shadow(0px 0px 20px rgba(251, 191, 24, 0.8));
  }
  .java-icon{
    text-shadow: 0px 0px 10px white;
    filter: drop-shadow(0px 0px 20px white);
  }
  .ds-icon{
    text-shadow: 0px 0px 10px rgb(79, 63, 255);
    filter: drop-shadow(0px 0px 20px rgba(79, 63, 255, 0.8));
  }
  .gsap-icon{
    text-shadow: 0px 0px 10px rgb(81, 252, 14);
    filter: drop-shadow(0px 0px 20px rgba(81, 252, 14, 0.8));
  }
  .html-icon{
    text-shadow: 0px 0px 10px rgb(202, 127, 56);
    filter: drop-shadow(0px 0px 20px rgba(202, 127, 56, 0.8));
  }
  .socials{
    text-shadow: 0px 0px 10px white;
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.8));
  }
.textured-text{
    background: url('./assets/texture/texture2.jpg');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
    opacity: 0.5
    /* text-shadow: 0px 0px 10px rgb(63, 255, 137); */
}
.font-awesome{
    font-family: "Pacifico", cursive !important;
}